div.logo {
	grid-row: 1 / 1;
	grid-column: 1 / 1;
	background: linear-gradient(transparent, rgba(0,0,0,.1)), #343434;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	h1 {
		font-size: 1.8rem;
		font-weight: 200;
	}
	span {
		font-weight: 600;
	}
}