nav.main {
	grid-row: 2 / 3;
	grid-column: 1 / 1;
	background: #202020;
	
	ul.lists {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			cursor: pointer;
			color: #fff;
			padding: 1rem;
			box-shadow: 0 1px rgba(255,255,255,.15);
			&:first-of-type {
				box-shadow: 0 -1px rgba(255,255,255,.15),
				 						0 1px rgba(255,255,255,.15);
;
			}
		}
	}
}

.search-container {
	padding: 1rem 0.5rem;
	box-sizing: border-box;
	width: 100%;
	background: rgba(0,0,0,.3);
	input {
		width: auto;
		appearance: none;
		border: none;
		background: rgba(255,255,255,.2);
		outline: none;
		color: #fff;
		border-radius: 10px;
		padding: 0.5rem;
		box-sizing: border-box;
		width: 100%;
	}
}