<!DOCTYPE html>
<html lang="en" class="app">
  <head>
    {% include "./includes/header.html" %}
  </head>
  <body>
    <section class="loader">
      {% include "./svgs/loader.svg" %}
    </section>
    <section class="main-container"></section>
  </body>
  <script src="scripts/bundle.min.js" async defer></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-55983139-4"></script>
  <script>window.dataLayer = window.dataLayer || [];function gtag() { dataLayer.push(arguments); }gtag('js', new Date());gtag('config', 'UA-55983139-4');</script>
</html>