@import 'mixins';
@import 'config';

html {
    overflow: hidden;
}
body {
    background: #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    html.wf-notosans-n4-active & {
        font-family: 'Noto Sans', sans-serif;
    }
    margin: 0;
    &.loaded {
        .loader {
            display: none;
        }
    }
}

html.app,
.main-container,
.app {
    width: 100vw;
    height: 100vh;
}
