/**
 * Welcome to critical.css.
 *
 * These styles are added directly to the head when the build is run.
 * In that sense, we should KEEP THIS FILE AS SMALL AS POSSIBLE.
 * This is also why I've deliberately made this a CSS file instead of
 * an SCSS file (to avoid nesting).
 */
.loader {
  background: #4B4B4B;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
}
.loader svg {
  align-self: center;
  height: 200px;
  fill: #f1d518;
}